<ng-container *ngIf="asset">
  <div class="grid grid-cols-2 gap-10 place-content-around">
    <div class="flex-grow">
      <img
        class="border border-gray-500 rounded-md"
        [src]="asset.image_url"
        alt="image"
      />
    </div>
    <div class="flex-shrink">
      <h1 class="text-xl text-black font-bold mb-5">{{ asset.name }}</h1>
      <div class="grid grid-cols-3 gap-2 place-content-around h-48 mb-5">
        <app-property-card
          *ngFor="let trait of properties"
          [type]="trait.trait_type"
          [value]="trait.value"
        ></app-property-card>
      </div>
      <div *ngFor="let trait of stats" class="h-20">
        <ng-container
          *ngIf="asset.collection.traits[trait.trait_type] as range"
        >
          <app-progress-bar
            [label]="trait.trait_type"
            [value]="trait.value"
            [max]="range.max"
            [min]="range.min"
          ></app-progress-bar>
        </ng-container>
      </div>
      <div class="flex justify-center">
        <button
          class="w-1/2 bg-gray-500 text-white active:bg-gray-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
          type="button"
          style="transition: all 0.15s ease"
        >
          Bid
        </button>
      </div>
    </div>
  </div>
</ng-container>
