<div class="flex flex-row justify-around items-center py-3 bg-black text-white">
  <img
    class="h-20"
    src="../../../assets/images/logo.webp"
    alt="nifty-royale-logo"
  />
  <div class="flex flex-col gap-3 text-center">
    <div class="text-base font-bold">Follow us</div>
    <div class="flex flex-row gap-3">
      <a
        class="w-7"
        role="button"
        href="https://twitter.com/NiftyRoyale"
        rel="noopener"
        target="_blank"
      >
        <img src="../../../assets/images/twitter.webp" alt="twitter-logo" />
      </a>
      <a
        class="w-7"
        role="button"
        href="https://www.instagram.com/niftyroyale/"
        rel="noopener"
        target="_blank"
      >
        <img src="../../../assets/images/instagram.webp" alt="instagram-logo" />
      </a>
      <a
        class="w-7"
        role="button"
        href="https://discord.gg/jkuT3qWTnE"
        rel="noopener"
        target="_blank"
      >
        <img src="../../../assets/images/discord.webp" alt="discord-logo" />
      </a>
      <a
        class="w-7"
        role="button"
        href="https://niftyroyale.medium.com/"
        rel="noopener"
        target="_blank"
      >
        <img src="../../../assets/images/medium.webp" alt="medium-logo" />
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-3 text-center">
    <div class="text-base font-bold">Important Links</div>
    <a class="text-xs hover:underline" href="https://niftyroyale.com/terms">
      Terms of Use
    </a>
    <a class="text-xs hover:underline" href="https://niftyroyale.com/privacy">
      Privacy Policy
    </a>
    <a class="text-xs hover:underline" href="https://niftyroyale.com/faq">
      FAQ
    </a>
  </div>
</div>
