<div
  class="
    flex flex-col
    gap-5
    w-full
    sm:flex-row sm:gap-0
    items-center
    fixed
    px-6
    py-1
    z-20
    bg-black
  "
>
  <a role="button" href="https://niftyroyale.com">
    <img
      class="w-16 mr-12 focus:outline-none cursor-pointer"
      src="assets/images/logo-beta.webp"
      alt="logo"
    />
  </a>
  <div class="flex flex-grow gap-8 text-base nifty-text-gold">
    <a class="hover:underline" role="button" href="https://niftyroyale.com">
      Home
    </a>
    <a
      class="hover:underline"
      role="button"
      routerLink="/drops"
      [routerLinkActive]="['underline', 'nifty-text-red']"
    >
      Drops
    </a>
    <a
      class="hover:underline"
      role="button"
      routerLink="/battles"
      [routerLinkActive]="['underline', 'nifty-text-red']"
    >
      Battles
    </a>
  </div>
  <div class="flex">
    <button
      class="
        text-base text-white
        bg-black
        leading-none
        rounded
        nifty-border-red
        border-2
        px-6
        py-4
      "
      (click)="onConnection()"
      [disabled]="isConnected"
    >
      <i class="pi pi-wallet w-6 mr-1"></i>
      {{ metamaskBtnText }}
    </button>
  </div>
</div>
