<div
  class="
    flex flex-col
    gap-3
    flex-1
    p-2
    bg-black
    border-4
    rounded-lg
    nifty-border-gold
    text-white text-sm
  "
  [ngClass]="{
    'mt-16': player.placement !== 1,
    'nifty-border-red': player.isOwner
  }"
>
  <div
    class="flex items-center relative cursor-pointer"
    (click)="onImgClick.emit()"
  >
    <img
      *ngIf="player.isEliminated"
      class="absolute h-full w-full z-10"
      src="../../../../assets/images/cross.webp"
      alt="cross"
    />
    <app-nft-displayer
      *ngIf="picture.length > 0"
      [nftURL]="picture"
    ></app-nft-displayer>
  </div>
  <div class="flex flex-col gap-1">
    <p>Token ID: {{ player.tokenId }}</p>
    <p>Owner: {{ ownerAddress }}</p>
    <p>Placement: {{ placement }}</p>
    <p
      class="whitespace-nowrap overflow-hidden overflow-ellipsis"
      [title]="name"
    >
      Name: {{ name }}
    </p>
  </div>
  <div
    *ngIf="showFooter"
    class="flex flex-col gap-1 items-center justify-center p-2"
  >
    <button
      type="button"
      class="bg-red-500 hover:bg-red-400 focus:outline-none rounded px-4 py-2"
      (click)="onBtnClick.emit(player.tokenId)"
    >
      {{ btnText }}
    </button>
    <div
      *ngIf="player.order"
      class="flex flex-col gap-1 items-center justify-center h-8 text-xs"
    >
      <p *ngIf="player.order.sell">
        For sale: {{ formatPrice(player.order.sell.base_price) }} Ξ
      </p>
      <p *ngIf="player.order.buy">Offer available</p>
    </div>
  </div>
</div>
