<div class="nifty-font">
  <img
    *ngIf="1 === asset.placement"
    class="mx-auto h-16 w-24"
    src="assets/images/crown.webp"
    alt="crown"
  />
  <article
    class="bg-black border-4 rounded-lg nifty-border-gold p-2"
    [ngClass]="{
      'mt-16': 1 !== asset.placement,
      'nifty-border-red': asset.isOwner
    }"
  >
    <div class="relative mb-3">
      <img
        *ngIf="asset.isEliminated"
        class="absolute h-full w-full z-10"
        src="assets/images/cross.webp"
        alt="cross"
      />
      <img
        class="block rounded-sm h-auto w-full"
        [src]="asset.nftImageURL"
        alt="nft-image"
      />
    </div>
    <header class="flex flex-col text-white text-base">
      <p>Token ID: {{ asset.token_id }}</p>
      <p>Owner: {{ formatAddress(asset.owner.address) }}</p>
      <p>Placement: {{ placement }}</p>
      <p
        class="whitespace-nowrap overflow-hidden overflow-ellipsis"
        [title]="asset.name"
      >
        Name: {{ asset.name }}
      </p>
    </header>
    <footer
      class="flex flex-row items-center justify-center text-white font-bold text-lg p-2"
    >
      <div class="flex flex-row justify-center">
        <button
          type="button"
          class="bg-green-500 text-gray-100 hover:bg-green-400 focus:outline-none rounded px-4 py-2"
          (click)="goTo(asset.asset_contract.address, asset.token_id)"
        >
          Trade
        </button>
      </div>
    </footer>
  </article>
  <div *ngIf="asset.isOwner" class="text-center text-lg nifty-text-gold mt-1">
    Owned
  </div>
</div>
