<ng-container *ngIf="assets.length > 0; else loading">
  <div class="flex flex-col justify-center items-center gap-10">
    <div
      class="flex flex-col sm:flex-row justify-center items-center text-3xl sm:text-5xl nifty-text-gold font-semibold"
    >
      <ng-container *ngIf="currBattleState === battleStates.STANDBY">
        <div class="flex-shrink mr-5">{{ maxMinted - totalMinted }}</div>
        <div class="flex-grow nifty-text-gold">NFTs left in sale</div>
      </ng-container>

      <ng-container *ngIf="currBattleState === battleStates.RUNNING">
        <div class="flex-shrink mr-5">
          {{ inPlayPlayers.length }}/{{ totalPlayers }}
        </div>
        <div class="flex-grow">
          <img class="w-64" src="assets/nft-remain.webp" alt="nft-remain" />
        </div>
      </ng-container>

      <ng-container *ngIf="currBattleState === battleStates.ENDED">
        <div class="flex-grow nifty-text-red">Battle has ended!</div>
      </ng-container>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-center items-center text-2xl sm:text-4xl nifty-text-red font-semibold"
    >
      <ng-container *ngIf="currBattleState === battleStates.STANDBY">
        <div class="flex-grow mr-2 nifty-text-red">Battle will start soon!</div>
      </ng-container>

      <ng-container *ngIf="currBattleState === battleStates.RUNNING">
        <div class="flex-grow mr-2">
          <img
            class="w-72"
            src="assets/next-elimination.webp"
            alt="next-elimination"
          />
        </div>
        <div class="flex-shrink">
          {{ countdownTimer }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-12 mt-10">
    <app-nft-card
      *ngFor="let asset of assets"
      [asset]="asset"
      [showButtons]="isAccountConnected && !isBattleEnded"
      [totalPlayers]="totalPlayers"
      (onBuy)="buy()"
    ></app-nft-card>
  </div>
</ng-container>

<ng-template #loading>
  <div class="content-around">
    <div class="flex flex-row justify-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</ng-template>
