<div *ngIf="assets$ | async as assets" class="container mx-auto my-5">
  <div
    class="flex flex-row flex-wrap items-center justify-start text-2xl nifty-text-gold mb-5"
  >
    <div class="w-28">
      <img src="assets/logo.png" alt="logo-img" />
    </div>
    <div class="bg-black">Nifty Royale Status</div>
  </div>
  <div class="flex flex-col justify-center items-center mb-10">
    <div class="bg-black text-5xl nifty-text-alt-gold mb-5">
      {{ remaining }}/{{ total }} NFTs Remaining
    </div>
    <div class="bg-black text-4xl nifty-text-red font-semibold">
      Next Elimination {{ countdownTimer }}
    </div>
  </div>
  <div
    class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 place-items-center"
  >
    <article
      *ngFor="let asset of assets; let i = index"
      class="bg-black p-20"
      [ngClass]="{
        'img-border-crown': asset.placement === 1,
        'img-border': asset.placement !== 1
      }"
    >
      <div class="relative">
        <img
          *ngIf="asset.eliminated"
          class="absolute z-10"
          src="assets/eliminated.png"
          alt="cross-img"
        />

        <img
          class="block h-auto w-full"
          [src]="asset.image_url"
          alt="nft-img"
        />
      </div>

      <header class="flex flex-col text-white text-sm">
        <p>Serial# 0000{{ i + 1 }}</p>
        <p>Owner: {{ formatAddress(asset.owner.address) }}</p>
        <p>
          Placement:
          {{ asset.placement ? asset.placement + "/" + total : "N/A" }}
        </p>
      </header>

      <footer class="flex flex-col text-white text-sm">
        <p>Name: {{ asset.name }}</p>
      </footer>
    </article>
  </div>
</div>
