.img-border {
  background-image: url("~src/assets/border-without-crown.png");
  background-position: center;
  background-size: cover;
}

.img-border-crown {
  background-image: url("~src/assets/border-with-crown.png");
  background-position: center;
  background-size: cover;
}
