<div class="container mx-auto py-10">
  <div
    class="flex flex-row flex-wrap items-center justify-start gap-10 text-2xl sm:text-4xl nifty-text-gold mb-10"
  >
    <div>
      <img
        class="w-20 cursor-pointer focus:outline-none"
        routerLink="/battle-list"
        src="assets/logo.webp"
        alt="logo"
      />
    </div>
    <div *ngIf="showStatus$ | async">
      <img class="w-28" src="assets/status.webp" alt="status" />
    </div>
    <div class="flex flex-row flex-grow justify-center sm:justify-end">
      <button
        class="text-sm sm:text-xl text-white bg-black leading-none rounded nifty-border-red border-2 px-6 py-4"
        (click)="onConnection()"
        [disabled]="isAccountConnected"
      >
        <i class="pi pi-wallet w-6 mr-1"></i>
        {{ metamaskBtnText }}
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
  <p-toast position="bottom-left"></p-toast>
</div>
