<div
  class="
    flex flex-col
    w-full
    sm:flex-row sm:gap-0
    items-center
    fixed
    px-6
    py-2
    z-20
    bg-black
  "
>
  <a role="button" href="https://niftyroyale.com">
    <img
      class="w-16 mr-12 focus:outline-none cursor-pointer"
      src="assets/images/logo-beta.webp"
      alt="logo"
    />
  </a>
  <div class="flex flex-grow gap-8 text-xl nifty-text-gold">
    <ng-container *ngIf="!isAccountConnected || isGoodNetwork">
      <a class="hover:underline" role="button" href="https://niftyroyale.com">
        Home
      </a>
      <a
        class="hover:underline"
        role="button"
        routerLink="/drops"
        [routerLinkActive]="['underline', 'nifty-text-red']"
      >
        Drops
      </a>
      <a
        class="hover:underline"
        role="button"
        routerLink="/battles"
        [routerLinkActive]="['underline', 'nifty-text-red']"
      >
        Battles
      </a>
    </ng-container>
  </div>
  <div class="flex">
    <button
      class="
        text-base text-white
        bg-black
        leading-none
        rounded
        nifty-border-red
        border-2
        px-6
        py-4
      "
      (click)="onConnection()"
      [disabled]="isAccountConnected"
    >
      <i class="pi pi-wallet w-6 mr-1"></i>
      {{ metamaskBtnText }}
    </button>
  </div>
</div>
<div class="bg-body pt-64 pb-10 sm:pt-36">
  <div class="container w-4/5 min-h-screen h-full mx-auto">
    <router-outlet *ngIf="!isAccountConnected || isGoodNetwork"></router-outlet>
    <p-toast position="bottom-left"></p-toast>
  </div>
</div>
<div class="flex flex-row justify-around items-center py-3 bg-black text-white">
  <img class="h-20" src="assets/images/logo.webp" alt="nifty-royale-logo" />
  <div class="flex flex-col gap-3 text-center">
    <div class="text-base font-bold">Follow us</div>
    <div class="flex flex-row gap-3">
      <a
        class="w-7"
        role="button"
        href="https://twitter.com/NiftyRoyale"
        rel="noopener"
        target="_blank"
      >
        <img src="assets/images/twitter.webp" alt="twitter-logo" />
      </a>
      <a
        class="w-7"
        role="button"
        href="https://www.instagram.com/niftyroyale/"
        rel="noopener"
        target="_blank"
      >
        <img src="assets/images/instagram.webp" alt="instagram-logo" />
      </a>
      <a
        class="w-7"
        role="button"
        href="https://discord.gg/jkuT3qWTnE"
        rel="noopener"
        target="_blank"
      >
        <img src="assets/images/discord.webp" alt="discord-logo" />
      </a>
      <a
        class="w-7"
        role="button"
        href="https://niftyroyale.medium.com/"
        rel="noopener"
        target="_blank"
      >
        <img src="assets/images/medium.webp" alt="medium-logo" />
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-3 text-center">
    <div class="text-base font-bold">Important Links</div>
    <a class="text-xs hover:underline" href="https://niftyroyale.com/terms">
      Terms of Use
    </a>
    <a class="text-xs hover:underline" href="https://niftyroyale.com/privacy">
      Privacy Policy
    </a>
    <a class="text-xs hover:underline" href="https://niftyroyale.com/faq">
      FAQ
    </a>
  </div>
</div>
