<article
  class="overflow-hidden rounded-lg shadow-lg bg-gray-100"
  [ngClass]="{ 'opacity-40': asset.sold }"
>
  <a [routerLink]="asset.token_id">
    <img class="block h-auto w-full" [src]="asset.image_url" alt="image" />
  </a>

  <header class="flex items-center justify-between leading-tight p-2 md:p-4">
    <div class="flex items-center text-black">
      <p class="text-sm">
        {{ asset.collection.name }}
      </p>
    </div>
    <!--    <p class="text-grey-darker text-sm">{{ price }} {{ currency }}</p>-->
  </header>

  <footer class="flex items-center justify-between leading-none p-2 md:p-4">
    <div class="flex items-center text-black font-bold">
      <p class="text-lg">
        {{ asset.name }}
      </p>
    </div>
    <div
      *ngIf="!asset.sold"
      class="text-base px-3 py-1 bg-green-200 text-green-800 rounded-full"
    >
      Available
    </div>
    <div
      *ngIf="asset.sold"
      class="text-base px-3 py-1 bg-red-200 text-red-800 rounded-full"
    >
      Sold
    </div>
  </footer>
</article>
