<div class="flex flex-col gap-5 text-white">
  <ng-container *ngIf="!drops.length; else dropsResult">
    <p>No drops yet!</p>
  </ng-container>
  <ng-template #dropsResult>
    <div
      *ngFor="let drop of drops"
      class="
        flex flex-row
        items-center
        gap-5
        p-5
        w-full
        bg-black
        border-4
        rounded-lg
        nifty-border-gold
      "
    >
      <div class="flex-shrink">
        <img
          class="w-16"
          src="assets/images/logo-beta.webp"
          alt="battle-logo"
        />
      </div>
      <div class="flex flex-col gap-3 md:flex-row md:gap-0 md:flex-1">
        <div class="text-base md:text-lg md:flex-1">{{ drop.name }}</div>
        <button
          type="button"
          class="
            inline-flex
            items-center
            justify-center
            px-4
            py-2
            border border-transparent
            text-base
            leading-6
            font-medium
            rounded-md
            text-white
            nifty-bg-gold
            hover:bg-yellow-500
            transition
            ease-in-out
            duration-150
          "
          (click)="goTo(drop.address)"
        >
          Proceed to drop
        </button>
      </div>
    </div>
  </ng-template>
</div>
