<div class="flex flex-col gap-10 text-white">
  <ng-container
    *ngIf="!activeDrops.length && !pastDrops.length; else dropsResult"
  >
    <p>No drops yet!</p>
  </ng-container>
  <ng-template #dropsResult>
    <div *ngIf="activeDrops.length" class="flex flex-col gap-5">
      <p class="text-lg">Active Drops</p>
      <div
        *ngFor="let drop of activeDrops"
        class="
          flex flex-row
          items-center
          gap-5
          p-5
          w-full
          bg-black
          border-4
          rounded-lg
          nifty-border-gold
        "
      >
        <img class="w-16" [src]="drop.picture" alt="nft-image" />
        <div
          class="
            flex flex-col
            gap-3
            md:flex-row md:items-center md:gap-0 md:flex-1
          "
        >
          <div class="text-base md:text-lg md:flex-1">{{ drop.name }}</div>
          <button
            type="button"
            class="
              inline-flex
              items-center
              justify-center
              px-4
              py-2
              border border-transparent
              text-base
              leading-6
              font-medium
              rounded-md
              text-white
              nifty-bg-gold
              hover:bg-yellow-500
              transition
              ease-in-out
              duration-150
            "
            (click)="goTo(drop.address)"
          >
            Proceed to drop
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="pastDrops.length" class="flex flex-col gap-5">
      <p class="text-lg">Past Drops</p>
      <div
        *ngFor="let drop of pastDrops"
        class="
          flex flex-row
          items-center
          gap-5
          p-5
          w-full
          bg-black
          border-4
          rounded-lg
          nifty-border-gold
        "
      >
        <img class="w-16" [src]="drop.picture" alt="nft-image" />
        <div
          class="
            flex flex-col
            gap-3
            md:flex-row md:items-center md:gap-0 md:flex-1
          "
        >
          <div class="text-base md:text-lg md:flex-1">{{ drop.name }}</div>
          <button
            type="button"
            class="
              inline-flex
              items-center
              justify-center
              px-4
              py-2
              border border-transparent
              text-base
              leading-6
              font-medium
              rounded-md
              text-white
              nifty-bg-gold
              hover:bg-yellow-500
              transition
              ease-in-out
              duration-150
            "
            (click)="goTo(drop.address)"
          >
            Proceed to drop
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
