<div class="flex flex-col gap-10 text-white">
  <ng-container *ngIf="!activeList.length && !pastList.length; else listResult">
    <p>No {{ pluralListType }} yet!</p>
  </ng-container>
  <ng-template #listResult>
    <div *ngIf="activeList.length" class="flex flex-col gap-5">
      <p class="text-lg">Active {{ pluralListType }}</p>
      <list-item
        *ngFor="let item of activeList"
        [type]="type"
        [title]="item.title"
        [image]="item.asset_url"
        (onClick)="redirect.emit(item.address)"
      ></list-item>
    </div>
    <div *ngIf="pastList.length" class="flex flex-col gap-5">
      <p class="text-lg">Past {{ pluralListType }}</p>
      <list-item
        *ngFor="let item of pastList"
        [type]="type"
        [title]="item.title"
        [image]="item.asset_url"
        (onClick)="redirect.emit(item.address)"
      ></list-item>
    </div>
  </ng-template>
</div>
