<div
  *ngIf="!isLoading; else loading"
  class="flex flex-col gap-16 text-xl md:text-2xl lg:text-3xl text-white"
>
  <p class="self-center nifty-text-gold">{{ dropName }}</p>
  <div class="flex flex-col items-center gap-14 lg:flex-row lg:justify-around">
    <div class="flex flex-col flex-grow gap-2 w-full lg:w-1/2">
      <div
        class="relative cursor-pointer"
        (click)="showWinnerNftImage = !showWinnerNftImage"
      >
        <app-nft-displayer
          [ngClass]="[!showWinnerNftImage ? 'block' : 'hidden']"
          [nftURL]="defaultNftImage"
          [height]="'36rem'"
        ></app-nft-displayer>
        <app-nft-displayer
          [ngClass]="[showWinnerNftImage ? 'block' : 'hidden']"
          [nftURL]="winnerNftImage"
          [height]="'36rem'"
        ></app-nft-displayer>
      </div>
      <p class="text-center text-xs">{{ nftImageText }}</p>
    </div>
    <div
      class="
        flex flex-col flex-shrink
        gap-2
        w-full
        lg:w-1/2
        text-lg text-center
      "
    >
      <div
        *ngIf="
          isAdminWallet ||
          (!hasBattleStarted && leftForSale > 0 && !isPurchaseSuccessful)
        "
        class="flex flex-col items-center nifty-text-red"
      >
        <app-countdown
          *ngIf="false"
          [title]="'Sale ends in'"
          [fromDate]="'2021-07-01T17:00:00'"
          [timezone]="'UTC-7'"
        ></app-countdown>
        <p class="mt-3">{{ leftForSaleText }}</p>
      </div>
      <div
        class="
          flex flex-col
          gap-5
          justify-around
          p-8
          bg-black
          border-4
          rounded-md
          nifty-border-gold
        "
      >
        <ng-container
          *ngIf="
            isAdminWallet || (!hasBattleStarted && leftForSale > 0);
            else purchaseEnded
          "
        >
          <ng-container
            *ngIf="
              isPurchaseSuccessful;
              then purchaseSuccessful;
              else purchaseCheckout
            "
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-5">
    <p class="underline nifty-underline">NFT Description</p>
    <p>{{ nftDescription }}</p>
  </div>
  <div class="flex flex-col gap-5">
    <p class="underline nifty-underline">Artist Description</p>
    <p>{{ artistDescription }}</p>
  </div>
  <div class="flex flex-col gap-2 text-xs">
    <p class="underline nifty-underline">Disclaimer</p>
    <p>
      This is a signed and limited edition digital creation. With the purchase,
      you acknowledge that you'll be given the right to use, distribute and
      display the creation for non-commercial purposes. You may also re-sell the
      same non-commercial use rights, to the creation, through the secondary
      sales portal on the Battles page or any other marketplace. Purchase of
      NFTs from the Drop entitles you to participate in the Battle Royale game
      for this Drop with a fair chance to win a 1/1 upgrade to replace the
      winning base NFT. All sales are final.
    </p>
  </div>
</div>

<ng-template #purchaseCheckout>
  <div
    class="
      flex
      border-solid border-2 border-gray-500 border-r-0 border-l-0 border-t-0
    "
  >
    <p class="font-bold">Quantity</p>
    <div class="flex flex-row-reverse flex-grow">
      <input
        class="w-16 text-right text-black font-sans"
        type="number"
        pattern="\d*"
        [(ngModel)]="quantity"
        [min]="1"
        [max]="maxUnits"
      />
    </div>
  </div>
  <div
    class="
      flex
      border-dashed border-2 border-gray-500 border-r-0 border-l-0 border-t-0
    "
  >
    <p class="font-bold">Unit Price</p>
    <div class="flex flex-row-reverse flex-grow">{{ ethPrice }} Ξ</div>
  </div>
  <div
    class="
      flex
      border-solid border-2 border-gray-500 border-r-0 border-l-0 border-t-0
    "
  >
    <p>Subtotal</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>{{ totalPrice.toFixed(4) }} Ξ</p>
    </div>
  </div>
  <div
    class="
      flex
      border-dashed border-2 border-gray-500 border-r-0 border-l-0 border-t-0
    "
  >
    <p>Gas price</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>{{ this.gasPrice }} GWEI</p>
    </div>
  </div>
  <div
    class="
      flex
      border-solid border-4 border-gray-500 border-r-0 border-l-0 border-t-0
    "
  >
    <p>Gas fee</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>+{{ ethFees.toFixed(4) }} Ξ</p>
    </div>
  </div>
  <div class="flex">
    <p class="font-bold">Total</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>{{ (totalPrice + ethFees).toFixed(4) }} Ξ</p>
    </div>
  </div>
  <button
    *ngIf="isAccountConnected"
    type="button"
    class="
      inline-flex
      items-center
      justify-center
      px-4
      py-2
      border border-transparent
      text-base
      leading-6
      font-medium
      rounded-md
      text-white
      transition
      ease-in-out
      duration-150
    "
    (click)="buy()"
    [ngClass]="{
      'bg-green-500 hover:bg-green-400': !isCheckoutDisabled,
      'bg-green-300 cursor-not-allowed': isCheckoutDisabled
    }"
    [disabled]="isCheckoutDisabled"
  >
    <app-spinner *ngIf="isPurchaseProcessing"></app-spinner>
    {{ checkoutBtnText }}
  </button>
  <div *ngIf="!isAccountConnected" class="flex justify-center nifty-text-red">
    <p>Connect Wallet!</p>
  </div>
</ng-template>

<ng-template #purchaseSuccessful>
  <p>Purchase successful!</p>
  <p>
    TxID
    <a
      class="underline"
      [title]="transactionHash"
      [href]="transactionURL"
      target="_blank"
    >
      {{ formatAddress(transactionHash) }}
    </a>
  </p>
  <p>
    Your NFT has now been entered into the Battle Royale for
    <span class="nifty-text-gold">{{ dropName }}</span>
  </p>
  <button
    type="button"
    class="
      inline-flex
      items-center
      justify-center
      px-4
      py-2
      border border-transparent
      text-base
      leading-6
      font-medium
      rounded-md
      text-white
      bg-green-500
      hover:bg-green-400
      transition
      ease-in-out
      duration-150
    "
    (click)="goToBattle()"
  >
    Proceed to Battle
  </button>
  <span class="text-xs">
    *Please note there may be a few minutes delay before your NFT shows up on
    the battle screen
  </span>
</ng-template>

<ng-template #purchaseEnded>
  <p class="text-lg nifty-text-red">Sale is over!</p>
  <p>
    The initial sale for this drop has concluded. To obtain an NFT for this drop
    please head over to the Battle page to purchase NFTs listed for sale or to
    make offers on NFTs not currently listed for sale.
  </p>
  <button
    type="button"
    class="
      inline-flex
      items-center
      justify-center
      px-4
      py-2
      border border-transparent
      text-base
      leading-6
      font-medium
      rounded-md
      text-white
      bg-green-500
      hover:bg-green-400
      transition
      ease-in-out
      duration-150
    "
    (click)="goToBattle()"
  >
    Proceed to Battle
  </button>
</ng-template>

<ng-template #loading>
  <div class="flex flex-col justify-center items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
