<div *ngIf="!isLoading; else loading" class="flex flex-col gap-6">
  <div
    class="flex flex-row w-full justify-center lg:justify-start text-xl lg:text-3xl nifty-text-gold nifty-font"
  >
    <p>Beta drop #1 featuring Lushsux</p>
  </div>
  <div
    class="flex flex-col items-center gap-10 lg:flex-row lg:items-stretch md:gap-5"
  >
    <img class="w-1/2 lg:w-1/4" src="assets/images/nft.webp" alt="nft_image" />
    <div
      class="flex flex-col flex-grow text-xl lg:text-3xl text-center text-white nifty-font"
    >
      <p>NFT Description</p>
      <div
        class="flex flex-col-reverse flex-grow"
        [ngClass]="[!hasBattleStarted ? 'nifty-text-gold' : 'nifty-text-red']"
      >
        <p>{{ leftForSale }}</p>
      </div>
    </div>
    <div
      *ngIf="isAccountConnected && !hasBattleStarted"
      class="w-2/3 h-96 lg:w-1/4 lg:h-auto flex flex-col justify-around p-10 bg-white text-lg lg:text-2xl text-gray-700 rounded-md"
    >
      <div
        class="flex border-dashed border-2 border-gray-700 border-r-0 border-l-0 border-t-0"
      >
        <p class="font-bold">Quantity</p>
        <div class="flex flex-row-reverse flex-grow">
          <p>1</p>
        </div>
      </div>
      <div
        class="flex border-solid border-2 border-gray-700 border-r-0 border-l-0 border-t-0"
      >
        <p>Price</p>
        <div class="flex flex-row-reverse flex-grow">
          <p>{{ ethPrice }} ETH</p>
        </div>
      </div>
      <div
        class="flex border-dashed border-2 border-gray-700 border-r-0 border-l-0 border-t-0"
      >
        <p>Gas (est.)</p>
        <div class="flex flex-row-reverse flex-grow">
          <p>0</p>
        </div>
      </div>
      <div
        class="flex border-dashed border-2 border-gray-700 border-r-0 border-l-0 border-t-0"
      >
        <p>Gas price</p>
        <div class="flex flex-row-reverse flex-grow">
          <p>x36.0</p>
        </div>
      </div>
      <div
        class="flex border-solid border-4 border-gray-700 border-r-0 border-l-0 border-t-0"
      >
        <p>Tx fee</p>
        <div class="flex flex-row-reverse flex-grow">
          <p>+0.0</p>
        </div>
      </div>
      <div class="flex">
        <p class="font-bold">Total</p>
        <div class="flex flex-row-reverse flex-grow">
          <p>2 ETH</p>
        </div>
      </div>
      <button
        type="button"
        class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 transition ease-in-out duration-150"
        (click)="buy()"
        [ngClass]="{
          'cursor-not-allowed hover:bg-green-500': isPurchaseProcessing
        }"
        [disabled]="isPurchaseProcessing"
      >
        <svg
          *ngIf="isPurchaseProcessing"
          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        {{ checkoutBtnText }}
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="content-around">
    <div class="flex flex-row justify-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</ng-template>
