<div
  *ngIf="!isLoading; else loading"
  class="flex flex-col gap-6 text-xl md:text-2xl lg:text-3xl"
>
  <div
    class="flex flex-row w-full justify-center lg:justify-start nifty-text-gold nifty-font"
  >
    <p>{{ dropName }}</p>
  </div>
  <div
    class="flex flex-col items-center gap-10 lg:flex-row lg:items-stretch md:gap-5"
  >
    <div class="w-2/3 lg:w-3/12 cursor-default">
      <app-nft-displayer [nftURL]="defaultNftImage"></app-nft-displayer>
      <app-nft-displayer [nftURL]="winnerNftImage"></app-nft-displayer>
    </div>
    <div
      class="flex flex-col gap-5 w-2/3 lg:w-5/12 text-center text-white nifty-font"
    >
      <p>NFT Description</p>
      <p>{{ nftDescription }}</p>
      <div
        *ngIf="!hasBattleStarted"
        class="flex flex-col-reverse gap-5 flex-grow nifty-text-gold"
      >
        <p>{{ leftForSale }}</p>
      </div>
    </div>
    <div
      class="flex flex-col gap-5 w-2/3 lg:w-4/12 justify-around p-8 bg-black text-white text-center text-lg border-4 rounded-md nifty-border-gold nifty-font"
    >
      <ng-container *ngIf="!hasBattleStarted; else purchaseEnded">
        <ng-container
          *ngIf="
            isPurchaseSuccessful;
            then purchaseSuccessful;
            else purchaseCheckout
          "
        ></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #purchaseCheckout>
  <div
    class="flex border-solid border-2 border-gray-500 border-r-0 border-l-0 border-t-0"
  >
    <p class="font-bold">Quantity</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>1</p>
    </div>
  </div>
  <div
    class="flex border-dashed border-2 border-gray-500 border-r-0 border-l-0 border-t-0"
  >
    <p>Price</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>{{ ethPrice }} Ξ</p>
    </div>
  </div>
  <div
    class="flex border-dashed border-2 border-gray-500 border-r-0 border-l-0 border-t-0"
  >
    <p>Gas price</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>{{ this.gasPrice }} GWEI</p>
    </div>
  </div>
  <div
    class="flex border-solid border-4 border-gray-500 border-r-0 border-l-0 border-t-0"
  >
    <p>Gas fee</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>+{{ ethFees.toFixed(4) }} Ξ</p>
    </div>
  </div>
  <div class="flex">
    <p class="font-bold">Total</p>
    <div class="flex flex-row-reverse flex-grow">
      <p>{{ (ethPrice + ethFees).toFixed(4) }} Ξ</p>
    </div>
  </div>
  <button
    *ngIf="isAccountConnected"
    type="button"
    class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 transition ease-in-out duration-150"
    (click)="buy()"
    [ngClass]="{
      'cursor-not-allowed hover:bg-green-500': isPurchaseProcessing
    }"
    [disabled]="isPurchaseProcessing"
  >
    <svg
      *ngIf="isPurchaseProcessing"
      class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
    {{ checkoutBtnText }}
  </button>
  <div *ngIf="!isAccountConnected" class="flex justify-center nifty-text-red">
    <p>Connect Wallet!</p>
  </div>
</ng-template>

<ng-template #purchaseSuccessful>
  <p>Purchase successful!</p>
  <p>
    TxID
    <a
      class="underline"
      [title]="transactionHash"
      [href]="'https://rinkeby.etherscan.io/tx/' + transactionHash"
      target="_blank"
    >
      {{ formatAddress(transactionHash) }}
    </a>
  </p>
  <p>
    Your NFT has now been entered into the Battle Royale for
    <span class="nifty-text-gold">{{ dropName }}</span>
  </p>
  <button
    type="button"
    class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 transition ease-in-out duration-150"
    (click)="goToBattle()"
  >
    Proceed to Battle
  </button>
  <span class="text-xs">
    *Please note there may be a few minutes delay before your NFT shows up on
    the battle screen
  </span>
</ng-template>

<ng-template #purchaseEnded>
  <p class="text-lg nifty-text-red">Sale is over!</p>
  <p>
    The initial sale for this drop has concluded. To obtain an NFT for this drop
    please head over to the Battle page to purchase NFTs listed for sale or to
    make offers on NFTs not currently listed for sale.
  </p>
  <button
    type="button"
    class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 transition ease-in-out duration-150"
    (click)="goToBattle()"
  >
    Proceed to Battle
  </button>
</ng-template>

<ng-template #loading>
  <div class="content-around">
    <div class="flex flex-row justify-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</ng-template>
