/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: nifty;
  src: url(assets/fonts/Nifty-Regular.ttf) format("truetype");
  src: url(assets/fonts/Nifty-Regular.otf) format("opentype");
}

body {
  background-repeat: repeat;
  background-position: center;
  background-color: black;
  background-image: url("assets/images/background.webp");
  font-family: "nifty", "arial", sans-serif;
}

a {
  -ms-text-underline-position: below;
  text-underline-position: under;
}

.h-fit-content {
  height: fit-content;
}

.nifty-text {
  &-gold {
    color: #f2ca53;
  }
  &-red {
    color: #fd0002;
  }
}

.nifty-bg {
  &-gold {
    background-color: #f2ca53;
  }
  &-red {
    background-color: #fd0002;
  }
}

.nifty-border {
  &-gold {
    border-color: #f2ca53;
  }
  &-red {
    border-color: #fd0002;
  }
}

.nifty-underline {
  -ms-text-underline-position: below;
  text-underline-position: under;
}

.nifty-panel {
  &.p-toast {
    width: auto;
  }
  &.p-dropdown {
    background: black;
    &:not(.p-disabled):hover {
      border-color: #f2ca53;
    }
    .p-inputtext {
      font-family: "nifty", "arial", sans-serif;
      color: #ffffff;
    }
    .p-dropdown-trigger {
      color: #ffffff;
    }
  }
  &.p-dropdown-panel {
    background: black;
    font-family: "nifty", "arial", sans-serif;
    .p-dropdown-items .p-dropdown-item {
      color: #ffffff;
      &.p-highlight {
        background: black;
        color: #f2ca53;
      }
    }
  }
  .p-dialog-header,
  .p-dialog-content {
    background-color: #f2ca53;
  }
}
