/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: black;
  background-image: url("~src/assets/background-2.webp");
  background-repeat: repeat;
  background-position: center;
}

.nifty-text-gold {
  color: #f2ca53;
}

.nifty-text-red {
  color: #fd0002;
}

.nifty-border-gold {
  border-color: #f2ca53;
}

.nifty-border-red {
  border-color: #fd0002;
}
