/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-image: url("~src/assets/body-background.png");
  background-repeat: repeat;
  background-position: center;
}

.nifty-text-gold {
  color: #d4af37;
}

.nifty-text-alt-gold {
  color: #f2ca53;
}

.nifty-text-red {
  color: #fd0002;
}
