<div class="flex flex-col flex-grow gap-2">
  <div
    class="relative cursor-pointer"
    (click)="showWinnerNftImage = !showWinnerNftImage"
  >
    <app-nft-displayer
      *ngIf="defaultNftImage.length > 0"
      [ngClass]="[!showWinnerNftImage ? 'block' : 'hidden']"
      [nftURL]="defaultNftImage"
      [height]="'36rem'"
    ></app-nft-displayer>
    <app-nft-displayer
      *ngIf="winnerNftImage.length > 0"
      [ngClass]="[showWinnerNftImage ? 'block' : 'hidden']"
      [nftURL]="winnerNftImage"
      [height]="'36rem'"
    ></app-nft-displayer>
  </div>
  <p class="text-center text-xs">{{ nftImageText }}</p>
</div>
