<ng-container *ngIf="!isLoading; else loading">
  <div class="flex flex-col gap-10 text-2xl md:text-3xl">
    <div class="flex flex-col gap-5 text-center nifty-text-gold">
      <p>{{ dropName }}</p>
      <p *ngIf="currBattleState !== battleStates.STANDBY">
        {{ inPlayPlayers.length }}/{{ totalPlayers }} NFTs remain
      </p>
      <p class="nifty-text-red">
        {{
          currBattleState === battleStates.RUNNING
            ? battleStatusText + " " + countdownTimer
            : battleStatusText
        }}
      </p>
    </div>
    <div class="flex flex-col sm:flex-row items-center gap-3">
      <p class="text-lg text-white">NFTs displayed:</p>
      <p-dropdown
        [options]="filterOptions"
        (onChange)="setFilterOption($event.value)"
        styleClass="nifty-panel"
        panelStyleClass="nifty-panel"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
    </div>
    <ng-container *ngIf="filteredAssets$ | async as assets">
      <div
        *ngIf="assets.length > 0; else noResults"
        class="
          grid grid-cols-1
          gap-12
          sm:grid-cols-2
          md:grid-cols-3
          lg:grid-cols-4
        "
      >
        <app-nft-card
          *ngFor="let asset of assets"
          [asset]="asset"
          [contractAddress]="contractAddress"
          [totalPlayers]="totalPlayers"
          (imgClick)="showImageDialog(asset.nftURL)"
        ></app-nft-card>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #noResults>
  <p class="text-base text-white">No results!</p>
</ng-template>

<ng-template #loading>
  <div class="flex flex-col justify-center items-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>

<p-dialog
  [(visible)]="displayDialog"
  (onHide)="imgDialog = ''"
  styleClass="nifty-panel"
>
  <app-nft-displayer
    *ngIf="imgDialog.length > 0"
    [nftURL]="imgDialog"
  ></app-nft-displayer>
</p-dialog>
