<div class="flex flex-col gap-5 text-base md:text-lg lg:text-xl">
  <header
    [battleState]="currBattleState"
    [dropName]="dropName"
    [totalInPlay]="totalInPlay"
    [totalPlayers]="totalPlayers"
    [nextEliminationTimestamp]="nextEliminationTimestamp"
    [isEliminationTriggered]="isEliminationTriggered"
  ></header>
  <filters (onFilter)="setFilterOption($event)"></filters>
  <ng-container *ngIf="filteredPlayers$ | async as players">
    <div
      *ngIf="players.length > 0; else noResults"
      class="
        grid grid-cols-1
        gap-12
        sm:grid-cols-2
        md:grid-cols-3
        lg:grid-cols-4
      "
    >
      <player-card
        *ngFor="let player of players"
        [player]="player"
        [name]="getNFTName(player.placement)"
        [picture]="getNFTPicture(player.placement)"
        [totalPlayers]="totalPlayers"
        [isBattleStarted]="isBattleStarted"
        (onImageClick)="displayImageDialog($event)"
      ></player-card>
    </div>
    <ng-template #noResults>
      <p class="text-base text-white">No results!</p>
    </ng-template>
  </ng-container>
</div>

<elimination-screen
  *ngIf="displayEliminationScreen"
  [name]="defaultNftName"
  [picture]="defaultPicture"
  [totalPlayers]="totalPlayers"
  [tokenIdEliminated]="tokenIdEliminated"
  (onClose)="closeNextEliminationScreen()"
></elimination-screen>

<p-dialog
  [(visible)]="displayDialog"
  (onHide)="imgDialog = ''"
  styleClass="nifty-panel"
>
  <app-nft-displayer *ngIf="imgDialog" [nftURL]="imgDialog"></app-nft-displayer>
</p-dialog>
