<div class="flex flex-col gap-3 text-center nifty-text-gold">
  <p>{{ dropTitle }}</p>
  <p *ngIf="battleState !== battleStates.STANDBY">{{ remainingPlayers }}</p>
  <p *ngIf="battleState !== battleStates.RUNNING" class="nifty-text-red">
    {{ battleStatus }}
  </p>
  <ng-container *ngIf="battleState === battleStates.RUNNING">
    <app-countdown
      *ngIf="!isEliminationTriggered; else isTriggered"
      [title]="'Next elimination in'"
      [fromTimestamp]="nextEliminationTimestamp"
      (onNextElimination)="triggerElimination()"
    ></app-countdown>
  </ng-container>
</div>

<ng-template #isTriggered>
  <div class="flex flex-col gap-3 justify-center items-center nifty-text-red">
    <p>
      Elimination triggered please wait a few minutes for elimination to be
      confirmed on chain.
    </p>
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
